pkgbase = pacman
	pkgdesc = A library-based package manager with dependency support
	pkgver = 6.1.0
	pkgrel = 1
	url = https://www.archlinux.org/pacman/
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = python
	checkdepends = fakechroot
	makedepends = meson
	makedepends = asciidoc
	makedepends = doxygen
	depends = bash
	depends = glibc
	depends = libarchive
	depends = curl
	depends = gpgme
	depends = pacman-mirrorlist
	depends = gettext
	depends = gawk
	depends = coreutils
	depends = gnupg
	depends = grep
	optdepends = perl-locale-gettext: translation support in makepkg-template
	provides = libalpm.so
	options = strip
	backup = etc/pacman.conf
	backup = etc/makepkg.conf
	source = https://gitlab.archlinux.org/pacman/pacman/-/releases/v6.1.0/downloads/pacman-6.1.0.tar.xz
	source = https://gitlab.archlinux.org/pacman/pacman/-/releases/v6.1.0/downloads/pacman-6.1.0.tar.xz.sig
	source = revertme-makepkg-remove-libdepends-and-libprovides.patch::https://gitlab.archlinux.org/pacman/pacman/-/commit/354a300cd26bb1c7e6551473596be5ecced921de.patch
	source = pacman.conf
	source = makepkg.conf
	validpgpkeys = 6645B0A8C7005E78DB1D7864F99FFE0FEAE999BD
	validpgpkeys = B8151B117037781095514CA7BBDFFC92306B1121
	sha256sums = 5a60ac6e6bf995ba6140c7d038c34448df1f3daa4ae7141d2cad88eeb5f1f9d9
	sha256sums = SKIP
	sha256sums = b3bce9d662e189e8e49013b818f255d08494a57e13fc264625f852f087d3def2
	sha256sums = 656c4d4cb8cb12adbf178fc8cb2fd25f8c285d6572bbdbb24d865d00e0d5a85a
	sha256sums = 2465d495cb275dce434eb3bfe4d293a223e301b968c14861aea42bc7c60404ef

pkgname = pacman
